.section [data-animation="slideToTop"]{
    -webkit-transform:translate3d(0, 20px, 0);
    transform:translate3d(0, 20px, 0)
}
.section [data-animation="slideToBottom"]{
    -webkit-transform:translate3d(0, -10px, 0);
    transform:translate3d(0, -10px, 0)
}
.section [data-animation="slideToLeft"]{
     -webkit-transform:translate3d(50px, 0, 0);
    transform:translate3d(50px, 0, 0)
}
.section [data-animation="slideToRight"]{
    -webkit-transform:translate3d(-50px, 0, 0);
    transform:translate3d(-50px, 0, 0)
}
.section [data-animation="fadeInToTop"]{
    opacity:0;-webkit-transform:translate3d(0, 10px, 0);
    transform:translate3d(0, 10px, 0)
}
.section [data-animation="fadeInToBottom"]{
     opacity:0;-webkit-transform:translate3d(0, -100px, 0);
    transform:translate3d(0, -100px, 0)
}
.section [data-animation="fadeInToLeft"]{
    opacity:0;-webkit-transform:translate3d(10px, 0, 0);
    transform:translate3d(10px, 0, 0)
}
.section [data-animation="fadeInToRight"]{
    opacity:0;
    -webkit-transform:translate3d(-10px, 0, 0);
    transform:translate3d(-10px, 0, 0)
}
.section [data-animation="fadeIn"]{
     opacity:0
}
.section [data-animation="fadeOut"]{
    opacity:1
}
.section [data-animation="followSlide"]{
    -webkit-transform:translate3d(0, 50px, 0);
    transform:translate3d(0, 50px, 0)
}
.section [data-animation="followSlideToTop"]{
    -webkit-transform:translate3d(0, 50px, 0);
    transform:translate3d(0, 50px, 0)
}
.section [data-animation="followSlideToBottom"]{
    -webkit-transform:translate3d(0, -50px, 0);
    transform:translate3d(0, -50px, 0)
}
.section [data-animation="followSlideToLeft"]{
    -webkit-transform:translate3d(50px, 0, 0);
    transform:translate3d(50px, 0, 0)
}
.section [data-animation="followSlideToRight"]{
    -webkit-transform:translate3d(-50px, 0, 0);
    transform:translate3d(-50px, 0, 0)
}
@-webkit-keyframes slideToTop{
    from{
        -webkit-transform:translate3d(0, 50px, 0);
        transform:translate3d(0, 50px, 0)
    }
    to{
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
}
@keyframes slideToTop{
    from{
        -webkit-transform:translate3d(0, 100px, 0);
        transform:translate3d(0, 100px, 0)
    }
    to{
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
}
@-webkit-keyframes slideToBottom{
    from{
        -webkit-transform:translate3d(0, -100px, 0);
        transform:translate3d(0, -100px, 0)
    }
    to {
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
}
@keyframes slideToBottom{
    from{
        -webkit-transform:translate3d(0, -100px, 0);
        transform:translate3d(0, -100px, 0)
    }
    to{
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
}
@-webkit-keyframes slideToLeft{
    from{
        -webkit-transform:translate3d(50px, 0, 0);
        transform:translate3d(50px, 0, 0)
    }
    to{
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
}
@keyframes slideToLeft{
    from{
        -webkit-transform:translate3d(50px, 0, 0);
        transform:translate3d(50px, 0, 0)
    }
    to{
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
}
@-webkit-keyframes slideToRight{
    from{
        -webkit-transform:translate3d(-700px, 0, 0);
        transform:translate3d(-50px, 0, 0)
    }
    to{
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
}
@keyframes slideToRight{
    from{
        -webkit-transform:translate3d(-100px, 0, 0);
        transform:translate3d(-100px, 0, 0)
    }
    to{
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
}
@-webkit-keyframes fadeInToTop{
    from{
        opacity:0;
        -webkit-transform:translate3d(0, 50px, 0);
        transform:translate3d(0, 50px, 0)
    }
    to{
        opacity:1;
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
}
@keyframes fadeInToTop{
    from{
        opacity:0;-webkit-transform:translate3d(0, 10px, 0);
        transform:translate3d(0, 10px, 0)
    }
    to{
        opacity:1;
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
}
@-webkit-keyframes fadeInToBottom{
    from{
        opacity:0;
        -webkit-transform:translate3d(0, -10px, 0);
        transform:translate3d(0, -10px, 0)
    }
    to{
        opacity:1;
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
}
@keyframes fadeInToBottom{
    from{
        opacity:0;
        -webkit-transform:translate3d(0, -10px, 0);
        transform:translate3d(0, -10px, 0)
    }
    to{
        opacity:1;
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
}
@-webkit-keyframes fadeInToRight{
    from{
        opacity:0;
        -webkit-transform:translate3d(-100px, 0, 0);
        transform:translate3d(-100px, 0, 0)
    }
    to{
        opacity:1;
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
}
@keyframes fadeInToRight{
    from{
        opacity:0;
        -webkit-transform:translate3d(-100px, 0, 0);
        transform:translate3d(-100px, 0, 0)
    }
    to{
        opacity:1;
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
}
@-webkit-keyframes fadeInToLeft{
    from{
        opacity:0;
        -webkit-transform:translate3d(100px, 0, 0);
        transform:translate3d(100px, 0, 0)
    }
    to{
        opacity:1;
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
}
@keyframes fadeInToLeft{
    from{
        opacity:0;
        -webkit-transform:translate3d(100px, 0, 0);
        transform:translate3d(100px, 0, 0)
    }
    to{
        opacity:1;
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
}
@-webkit-keyframes fadeIn{
    from{
        opacity:0}
    to{
        opacity:1
    }
}
@keyframes fadeIn{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
@-webkit-keyframes fadeOut{
    from{
        opacity:1
    }
    to{
        opacity:0
    }
}
@keyframes fadeOut{
    from{
        opacity:1
    }
    to{
        opacity:0
    }
}
@-webkit-keyframes followSlideToTop{
    from{
        -webkit-transform:translate3d(0, 1000px, 0);
        transform:translate3d(0, 1000px, 0)
    }
    to{
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
}
@keyframes followSlideToTop{
    from{
        -webkit-transform:translate3d(0, 1000px, 0);
        transform:translate3d(0, 1000px, 0)
    }
    to{
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
}
@-webkit-keyframes followSlideToBottom{
    from{
        -webkit-transform:translate3d(0, -1000px, 0);
        transform:translate3d(0, -1000px, 0)
    }
    to{
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
}
@keyframes followSlideToBottom{
    from{
        -webkit-transform:translate3d(0, -1000px, 0);
        transform:translate3d(0, -1000px, 0)
    }
    to{
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
}
@-webkit-keyframes followSlideToRight{
    from{
        -webkit-transform:translate3d(-1000px, 0, 0);
        transform:translate3d(-1000px, 0, 0)
    }
    to{
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
}
@keyframes followSlideToRight{
    from{
        -webkit-transform:translate3d(-1000px, 0, 0);
        transform:translate3d(-1000px, 0, 0)
    }
    to{
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
}
@-webkit-keyframes followSlideToLeft{
    from{
        -webkit-transform:translate3d(1000px, 0, 0);
        transform:translate3d(1000px, 0, 0)
    }
    to{
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
}
@keyframes followSlideToLeft{
    from{
        -webkit-transform:translate3d(1000px, 0, 0);
        transform:translate3d(1000px, 0, 0)
    }
    to{
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
}

.section [data-animation="scaleIn"]{
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
}
@keyframes scaleIn{
    0%{
        -webkit-transform:scale(.9);
        transform:scale(.9);
        opacity:0
    }
    50%{
        -webkit-transform:scale(1.1);
        transform:scale(1.1);
        
    }
    70%{
        -webkit-transform:scale(.9);
        transform:scale(.9);
    }
    100%{
        -webkit-transform:scale(1);
        transform:scale(1);
        opacity:1;
    }
}
@-webkit-keyframes scaleIn {
    0%{
        -webkit-transform:scale(.9);
        transform:scale(.9);
        opacity:0
    }
    50%{
        -webkit-transform:scale(1.1);
        transform:scale(1.1);

    }
    70%{
        -webkit-transform:scale(.9);
        transform:scale(.9);
    }
    100%{
        -webkit-transform:scale(1);
        transform:scale(1);
        opacity:1;
    }
}
.section [data-animation="scaleOut"]{
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
}
@keyframes scaleOut{
    0%{
        -webkit-transform:scale(1);
        transform:scale(1);
        opacity:0
    }
    50%{
        -webkit-transform:scale(1.1);
        transform:scale(1.1);
        opacity:1;
    }
    70%{
        -webkit-transform:scale(1.15);
        transform:scale(1.15);
    }
    100%{
        -webkit-transform:scale(1);
        transform:scale(1);
    }
}
.section [data-animation="scalesmall"]{
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
}
@keyframes scalesmall{
    0%{
        opacity:0;
        -webkit-transform:scale(.1);
        transform:scale(.1);
    }
    100%{
        opacity:1;
        -webkit-transform:scale(1);
        transform:scale(1);
    }
}
@-webkit-keyframes scalesmall {
    0%{
        opacity:0;
        -webkit-transform:scale(.1);
        transform:scale(.1);
    }
    100%{
        opacity:1;
        -webkit-transform:scale(1);
        transform:scale(1);
    }
}
.section [data-animation="rotate"]{
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
}
@keyframes rotate{
    0%{
        -webkit-transform:rotate(0);
        transform:rotate(0);
        opacity:0;
    }
    100%{
        -webkit-transform:rotate(540deg);
        transform:rotate(540deg);
        opacity:1;
    }
}
@-webkit-keyframes rotate {
    0%{
        -webkit-transform:rotate(0);
        transform:rotate(0);
        opacity:0;
    }
    100%{
        -webkit-transform:rotate(540deg);
        transform:rotate(540deg);
        opacity:1;
    }
}
/*从小到大再旋转*/
.section [data-animation="scale-rotate"]{
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
}
@keyframes scale-rotate{
    0%{
        -webkit-transform:scale(.1);
        transform:scale(.1);
        opacity:0;
    }
    35%{
        -webkit-transform:scale(1.1);
        transform:scale(1.1)
    }
    50%{
        -webkit-transform:scale(1);
        transform:scale(1);
    }
    50%{
        -webkit-transform:rotate(0);
        transform:rotate(0)
    }
    100%{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg);
        opacity:1;
    }
}
@-webkit-keyframes scale-rotate {
    0%{
        -webkit-transform:scale(.1);
        transform:scale(.1);
        opacity:0;
    }
    35%{
        -webkit-transform:scale(1.1);
        transform:scale(1.1)
    }
    50%{
        -webkit-transform:scale(1);
        transform:scale(1);
    }
    50%{
        -webkit-transform:rotate(0);
        transform:rotate(0)
    }
    100%{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg);
        opacity:1;
    }
}
.section [data-animation="square"]{
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
}
@keyframes square{
    0%{
        -webkit-transform:rotate(180deg);
        transform:rotate(180deg);
    }
    100%{
        -webkit-transform:rotate(0);
        transform:rotate(0);
    }

}
@-webkit-keyframes square {
    0%{
        -webkit-transform:rotate(180deg);
        transform:rotate(180deg);
    }
    100%{
        -webkit-transform:rotate(0);
        transform:rotate(0);
    }
}
.section [data-animation="fadeOutToRight"]{
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
}
@keyframes fadeOutToRight {
    0%{
        opacity:0;
        -webkit-transform:translate3d(-200px,0,0);
        transform:translate3d(-200px,0,0)
    }
    25%{
        opacity: 1;
        -webkit-transform:translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    75%{
        opacity: 1;
        -webkit-transform:translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    100%{
        opacity:0;
        -webkit-transform:translate3d(200px,0,0);
        transform:translate3d(200px,0,0)
    }
}
@-webkit-keyframes fadeOutToRight {
    0%{
        opacity:0;
        -webkit-transform:translate3d(-200px,0,0);
        transform:translate3d(-200px,0,0)
    }
    25%{
        opacity: 1;
        -webkit-transform:translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    75%{
        opacity: 1;
        -webkit-transform:translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    100%{
        opacity:0;
        -webkit-transform:translate3d(200px,0,0);
        transform:translate3d(200px,0,0)
    }
}
.section [data-animation="fadeOutToLeft"]{
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
}
@keyframes fadeOutToLeft {
    0% {
        opacity: 0;
        -webkit-transform:translate3d(200px,0,0);
        transform: translate3d(200px,0,0);
    }
    25%{
        opacity: 1;
        -webkit-transform:translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    75%{
        opacity: 1;
        -webkit-transform:translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    100%{
        opacity:0;
        -webkit-transform:translate3d(200px,0,0);
        transform:translate3d(200px,0,0);
    }
}
@-webkit-keyframes fadeOutToLeft {
    0% {
        opacity: 0;
        -webkit-transform:translate3d(200px,0,0);
        transform: translate3d(200px,0,0);
    }
    25%{
        opacity: 1;
        -webkit-transform:translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    75%{
        opacity: 1;
        -webkit-transform:translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    100%{
        opacity:0;
        -webkit-transform:translate3d(200px,0,0);
        transform:translate3d(200px,0,0);
    }
}
/*大小缓冲运动 scale*/
.section [data-animation="buffer"]{
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
}
@keyframes buffer{
    0%{
        -webit-transform:scale(1);
        transform:scale(1);
        opacity:0;
    }
    25%{
        -webit-transform:scale(1.1);
        transform:scale(1.1)
    }
    50%{
        -webit-transform:scale(.9);
        transform:scale(.9);
        opacity:1;
    }
    75%{
        -webit-transform:scale(1.1);
        transform:scale(1.1)
    }
    100%{
        -webit-transform:scale(1);
        transform:scale(1);

    }
}
@-webkit-keyframes buffer {
    0%{
        -webit-transform:scale(1);
        transform:scale(1);
        opacity:0;
    }
    25%{
        -webit-transform:scale(1.1);
        transform:scale(1.1)
    }
    50%{
        -webit-transform:scale(.9);
        transform:scale(.9);
        opacity:1;
    }
    75%{
        -webit-transform:scale(1.1);
        transform:scale(1.1)
    }
    100%{
        -webit-transform:scale(1);
        transform:scale(1);

    }
}
/*左右缓冲运动*/
.section [data-animation="bufferLeft"]{
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
}
@keyframes bufferLeft{
    0%{
        -webkit-transform:translateX(-200px);
        transform:translateX(-200px)
    }
    25%{
        -webkit-transform:translateX(10px);
        transform:translateX(10px)
    }
    50%{
        -webkit-transform:translateX(-10px);
        transform:translateX(-10px)
    }
    75%{
        -webkit-transform:translateX(5px);
        transform:translateX(5px)
    }
    100%{
        -webkit-transform:translateX(0);
        transform:translateX(0);
    }
}
@-webkit-keyframes bufferLeft {
    0%{
        -webkit-transform:translateX(-200px);
        transform:translateX(-200px)
    }
    25%{
        -webkit-transform:translateX(10px);
        transform:translateX(10px)
    }
    50%{
        -webkit-transform:translateX(-10px);
        transform:translateX(-10px)
    }
    75%{
        -webkit-transform:translateX(5px);
        transform:translateX(5px)
    }
    100%{
        -webkit-transform:translateX(0);
        transform:translateX(0);
    }
}
.section [data-animation="bufferRight"]{
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
}
@keyframes bufferRight{
    0%{
        -webkit-transform:translateX(200px);
        transform:translateX(200px)
    }
    25%{
        -webkit-transform:translateX(-10px);
        transform:translateX(-10px)
    }
    50%{
        -webkit-transform:translateX(10px);
        transform:translateX(10px)
    }
    75%{
        -webkit-transform:translateX(-5px);
        transform:translateX(-5px)
    }
    100%{
        -webkit-transform:translateX(0);
        transform:translateX(0);
    }
}
@-webkit-keyframes bufferRight {
    0%{
        -webkit-transform:translateX(200px);
        transform:translateX(200px)
    }
    25%{
        -webkit-transform:translateX(-10px);
        transform:translateX(-10px)
    }
    50%{
        -webkit-transform:translateX(10px);
        transform:translateX(10px)
    }
    75%{
        -webkit-transform:translateX(-5px);
        transform:translateX(-5px)
    }
    100%{
        -webkit-transform:translateX(0);
        transform:translateX(0);
    }
}
/*上下缓冲运动*/
.section [data-animation="bufferTop"]{
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
}
@keyframes bufferTop{
    0%{
        -webkit-transform:translateY(200px);
        transform:translateY(200px);
        opacity:0;
    }
    25%{
        -webkit-transform:translateY(-10px);
        transform:translateY(-10px)
    }
    50%{
        -webkit-transform:translateY(10px);
        transform:translateY(10px)
    }
    75%{
        -webkit-transform:translateY(-5px);
        transform:translateY(-5px)
    }
    100%{
        -webkit-transform:translateY(0);
        transform:translateY(0);
        opacity:1;
    }
}
@-webkit-keyframes bufferTop {
    0%{
        -webkit-transform:translateY(200px);
        transform:translateY(200px);
        opacity:0;
    }
    25%{
        -webkit-transform:translateY(-10px);
        transform:translateY(-10px)
    }
    50%{
        -webkit-transform:translateY(10px);
        transform:translateY(10px)
    }
    75%{
        -webkit-transform:translateY(-5px);
        transform:translateY(-5px)
    }
    100%{
        -webkit-transform:translateY(0);
        transform:translateY(0);
        opacity:1;
    }
}
/*连线效果*/
.section [data-animation="width"]{
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
}
@keyframes width {
    0%{
        width:0;
    }
    100%{
        width:30px;
    }
}
@-webkit-keyframes width {
    0%{
        width:0;
    }
    100%{
        width:30px;
    }
}
/*从小到大出现再晃动*/
.section [data-animation="scale-shake"]{
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
}
@keyframes scale-shake{
    0%{
        opacity:0;
        -webkit-transform:scale(0);
        transform:scale(0);
    }
    50%{
        opacity:1;
        -webkit-transform:scale(1);
        transform:scale(1);
    }

    70%{
        -webkit-transform:translate3d(0,10px,0);
        transform:translateY(10px)
    }
    80%{
        -webkit-transform:translate3d(0,-10px,0);
        transform:translateY(-10px);
    }
    90%{
        -webkit-transform:translate3d(0,10px,0);
        transform:translateY(10px)
    }
    100%{
        -webkit-transform:translate3d(0,0,0);
        transform:translateY(0);
    }
}
@-webkit-keyframes scale-shake {
    0%{
        opacity:0;
        -webkit-transform:scale(0);
        transform:scale(0);
    }
    50%{
        opacity:1;
        -webkit-transform:scale(1);
        transform:scale(1);
    }

    70%{
        -webkit-transform:translate3d(0,10px,0);
        transform:translateY(10px)
    }
    80%{
        -webkit-transform:translate3d(0,-10px,0);
        transform:translateY(-10px);
    }
    90%{
        -webkit-transform:translate3d(0,10px,0);
        transform:translateY(10px)
    }
    100%{
        -webkit-transform:translate3d(0,0,0);
        transform:translateY(0);
    }
}
@keyframes opacity{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,10px,0);
        transform:translate3d(0,10px,0);
    }
    100%{
        opacity:1;
        -webkit-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0);
    }

}
@-webkit-keyframes opacity {
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,10px,0);
        transform:translate3d(0,10px,0);
    }
    100%{
        opacity:1;
        -webkit-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0);
    }
}





















